td, th {   
    border: 1px solid black;
}

th {
    background-color: beige;
}

td {
    background-color: rgb(240, 240, 240);
}

.aprobado td {
    background-color: greenyellow;
}

.suspenso td {
    background-color: red;
}